
{% extends 'base.html' %}

{% block content %}
    <h2>Telegram detail</h2>
    <p>pk: {{telegramme.pk}}</p>
    <p>raw: {{telegramme.raw}}</p>
    <p>Frequenz: {{telegramme.freq}}</p>
    <p>Epoch: {{telegramme.epoch}}</p>
    <p>TIMESTAMP: {{telegramme.timestamp}}</p>
    <p>protocol: {{telegramme.protocol}}</p>
    <p>Type: {{telegramme.type}}</p>
    <p>encoded: {{telegramme.encoded}}</p>
    <p>No Message: {{telegramme.nomsg}}</p>
    <p>Geo: {{telegramme.geo}}</p>
    <p>address: {{telegramme.address}}</p>
    <p>function: {{telegramme.function}}</p>
    <p>message: {{telegramme.msg}}</p>
    <p>lat: {{telegramme.lat}}</p>
    <p>lon: {{telegramme.lon}}</p>
    <p>ident: {{telegramme.ident}}</p>
    <p>city: {{telegramme.city}}</p>
    <p>street: {{telegramme.street}}</p>
    <p>name: {{telegramme.name}}</p>
    <p>from: {{telegramme.fromm}}</p>
    <p>to: {{telegramme.to}}</p>
    <p>via: {{telegramme.via}}</p>
    <p>path: {{telegramme.path}}</p>
    <p>format: {{telegramme.format}}</p>
    <p>telemetry_message: {{telegramme.telemetry_message}}</p>
    <p>comment: {{telegramme.comment}}</p>
    <p>text: {{telegramme.text}}</p>

    <a class="btn btn-secondary btn-sm" href="{% url 'telegramme_start' %}">Zurück</a>
    <a class="btn btn-danger btn-sm" href="#">Löschen</a>
    <a class="btn btn-success btn-sm" href="#">Update</a>
{% endblock content %}
